/*
color pallete:
#104C91
#EFC9AF
#1F8AC0
*/
body {
  font-family: "Montserrat", sans-serif;
}

.navbar-custom {
  background-color: rgba(239, 201, 175, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-color {
  background-color: rgba(31, 138, 192, 0.5);
}

.navbar-font {
  color: rgba(16, 76, 145, 1);
}

.nav .navbar-brand {
  /* size for brand */
  font-size: xx-large;
}
.nav-item {
  transition-duration: 0.4s;
}

.nav-item:hover {
  transform: translateY(-10%);
  font-size: 20px;
  background: -webkit-linear-gradient(#efc9af, #1f8ac0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 0.7s;
}

main .form-control {
  /* Center form controls */
  display: inline-block;

  /* Override Bootstrap's 100% width fo r form controls */
  width: auto;
}

main {
  /* Scroll horizontally as needed */
  overflow-x: auto;

  /* Center contents */
  text-align: center;
}

main img {
  /* Constrain images on small screens */
  max-width: 100%;
}

.quote {
  font-size: 45px;
  font-family: "Playfair Display", serif;
  text-align: center;
  color: rgba(239, 201, 175, 1);
  transition-duration: 0.4s;
}

.quote:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(239, 201, 175, 0.6) 30%,
    #000 50%,
    rgba(16, 76, 145, 1) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 3s infinite;
  font-size: 50px;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

.quote .center {
  padding-top: 80px;
}

.gradient {
  background: linear-gradient(
      to right,
      rgba(239, 201, 175, 1),
      rgba(16, 76, 145, 1)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
  border: none;
}
.card {
  /* Center form controls */
  display: inline-block;
  width: auto;
  border-radius: 30px;
  background: linear-gradient(
    142.14deg,
    #efc9af 0%,
    rgba(239, 201, 175, 0) 100%
  );
  border: none;
}

.card-center {
  margin-top: 30px;
}

.card-big-font {
  font-size: 22px;
  transition-duration: 0.4s;
}

.hyperlink {
  color: rgba(16, 76, 145, 1);
  transition-duration: 0.4s;
}

.hyperlink:hover {
  text-decoration: none;
  font-size: 28px;
  background: -webkit-linear-gradient(#1f8ac0, #efc9af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 0.7s;
}

.button-pill {
  border: none;
  transition-duration: 0.4s;
  font-size: 15px;
}

.button-pill:hover {
  transform: translateY(10%);
  background: linear-gradient(
    142.14deg,
    #efc9af 0%,
    rgba(239, 201, 175, 0) 100%
  );
  transition-duration: 1s;
}

.card-notes {
  width: auto;
  transition-duration: 0.4s;
}

.notes-from {
  font-size: 15px;
  text-align: left;
}
.notes-note {
  padding-top: 5px;
  font-size: 12px;
  text-align: left;
}
.notes-date {
  padding-top: 5px;
  font-size: 8px;
  text-align: right;
}

table {
  background-color: transparent;
  margin-bottom: 1rem;
  width: 100%;
}

table th,
table td {
  padding: 0.6rem;
  vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
  background-color: rgb(83, 127, 190, 0.3);
}
