/*
color pallete:
#104C91
#EFC9AF
#1F8AC0
*/
body {
  font-family: "Montserrat", sans-serif;
}

.navbar-custom {
  background-color: rgba(239, 201, 175, 1);
}

.main-color {
  background-color: rgba(31, 138, 192, 0.5);
}

.navbar-font {
  color: rgba(16, 76, 145, 1);
}

.navbar-font::hover {
  transform: rotate(10deg);
}

.nav .navbar-brand {
  /* size for brand */
  font-size: xx-large;
}
.nav-item {
  transition-duration: 0.4s;
}

.nav-item:hover {
  transform: translateY(-10%);
  font-size: 20px;
  background: -webkit-linear-gradient(#efc9af, #1f8ac0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 0.7s;
}

.quote {
  padding-top: 30px;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  text-align: left;
}

.gradient {
  background: linear-gradient(
      to right,
      rgba(239, 201, 175, 1),
      rgba(16, 76, 145, 1)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
  border: none;
}
.card {
  /* Center form controls */
  display: inline-block;
  width: auto;
  border-radius: 30px;
  background: linear-gradient(
    142.14deg,
    #efc9af 0%,
    rgba(239, 201, 175, 0) 100%
  );
  border: none;
}

main .form-control {
  /* Center form controls */
  display: inline-block;

  /* Override Bootstrap's 100% width for form controls */
  width: auto;
}

main {
  /* Scroll horizontally as needed */
  overflow-x: auto;

  /* Center contents */
  text-align: center;
}

main img {
  /* Constrain images on small screens */
  max-width: 100%;
}

table {
  background-color: transparent;
  margin-bottom: 1rem;
  width: 100%;
}

table th,
table td {
  padding: 0.6rem;
  vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
  background-color: rgb(83, 127, 190, 0.3);
}
