{% extends "layout.html" %} {% block title %} Homepage {% endblock %} {% block
main %}
<div class="form-group">
  <div class="title">Welcome, {{ username }}</div>
</div>
<div class="form-group">
  <div class="title">Notes</div>
  <form action="/homepage" method="post">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      name="note"
      placeholder="Note"
      type="text"
    />
    <button class="btn btn-primary gradient" type="submit">Post</button>
  </form>
</div>
{% for note in notes %}
<div class="form-group">
  <div class="card text-center card-notes">
    <div class="card-body">
      <div class="notes-note">
        {{ note[2] }}
        <div class="notes-date">{{ note[3] }}</div>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
