{% extends "layout.html" %} {% block title %} Change Password {% endblock %} {%
block main %}
<div class="form-group title">Change Password</div>
<div class="form-group card text-center">
  <div class="card-body">
    <form action="/password" method="post">
      <div class="form-group">
        <input
          autocomplete="off"
          autofocus
          class="form-control"
          name="current"
          placeholder="Current Password"
          type="password"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          name="password"
          placeholder="Password"
          type="password"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          name="confirmation"
          placeholder="Password (Again)"
          type="password"
        />
      </div>
      <div class="form-group">
        <div style="font-size: 0.85rem; color: rgb(234, 67, 59, 0.5)">
          Password should have at least 8 characters, 1 number and 1 special
          character
        </div>
      </div>
      <button class="btn btn-primary gradient" type="submit">
        Change Password
      </button>
    </form>
  </div>
</div>
{% endblock %}
