{% extends "layout.html" %} {% block title %} Specialists {% endblock %} {%
block main %}
<div class="form-group">
  <div class="title">Specialists</div>
</div>
<div class="form-group">
  <form action="/user-index" method="post">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      name="specialist"
      placeholder="Specialists"
      type="text"
    />
    <button class="btn btn-primary gradient" type="submit">Search</button>
  </form>
</div>
      {% endblock %}
    </div>
  </div>
</div>
