{% extends "layout.html" %} {% block title %} User Register {% endblock %} {%
block main %}
<div class="form-group title">Start Working on Yourself</div>
<div class="form-group card text-center">
  <div class="card-body">
    <form action="/user-register" method="post">
      <div class="form-group">
        <input
          autocomplete="off"
          autofocus
          class="form-control"
          name="username"
          placeholder="Username"
          type="text"
        />
      </div>
      <div class="form-group">
        <input
          autocomplete="off"
          autofocus
          class="form-control"
          name="email"
          placeholder="Email"
          type="email"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          name="password"
          placeholder="Password"
          type="password"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          name="confirmation"
          placeholder="Password (Again)"
          type="password"
        />
      </div>
      <button class="btn btn-primary gradient" type="submit">Register</button>
    </form>
  </div>
</div>
{% endblock %}
