{% extends "layout.html" %} {% block title %} Portfolio {% endblock %} {% block
main %}
<div class="form-group">
  <div class="title">Welcome,</div>
</div>
<div class="form-group">
  <div class="title">Notes</div>
</div>
<div class="form-group">
  <div class="card text-center">
    <div class="card-body">
      <div class="notes-from">
        From: John
        <div />
        <div class="notes-note">
          Take your meds
          <div />
          <div class="notes-date">
            07/05/2001
            <div />
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
