{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<div class="form-group">
    <div class="quote"> Notes for Life </div>
</div>   
<div class="form-group">  
    <form action="/user-index" method="post">
        <input autocomplete="off" autofocus class="form-control" name="note" placeholder="Note" type="text">
        <button class="btn btn-primary gradient" type="submit">Post</button>
    </form>
</div>
<div class="form-group">    
    <form action="/user-index" method="get">
        <button class="badge badge-pill badge-light button-pill" name="my-notes" type="submit">My Notes</button>
        <button class="badge badge-pill badge-light button-pill" name="helpers-notes" type="submit">Helpers Notes</button>
    </form>
</div>
<div class="form-group">   
    <div class="card text-center card-notes">
        <div class="card-body">
            <div class="notes-from">From: John<div/>
            <div class="notes-note">Take your meds<div/>
            <div class="notes-date">07/05/2001<div/>
        </div>
    </div>
</div>
{% endblock %}
